body {
  background: rgb(33, 33, 33);
}

input {
  color: white;
  border:2px solid white;
}

input:hover {
  color: #ff4d0d;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
  color: white;
  border:2px solid rgb(255, 77, 13);
}

.button:hover {
    background: #252525;
    color: rgb(255, 77, 13);
}

.bigbutton {
  color: white;
  border:2px solid rgb(255, 77, 13);
}

.bigbutton:hover {
    background: #252525;
    color: rgb(255, 77, 13);
}

.sc {
  background: rgb(37, 37, 37);
  color: rgb(23, 165, 16);
  border-color: rgb(29, 29, 29);
}

.sc:hover {
    background: rgb(46, 46, 46);
    color: rgb(38, 194, 30);
}

.settingsicon {
  color: white;
}